// global typography styles.

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  font-weight: 400;
}

html {
  font-family: $font-body;
  font-weight: 400;
}

.fancy-title {
  color: $color-accent;
  position: relative;
  margin: 0 0 1.25rem 0;
  font-size: 1.75rem;

  &:after {
    position: absolute;
    content: "";
    top: 125%;
    left: 0;
    width: 2rem;
    height: 0.4rem;
    background-color: $color-accent;
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  animation-name: spin;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: 0;
  padding: 0;
}

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  h1,
  h2,
  h3 {
    flex: 1;
  }
}
