// colours
$color-bg: #FFFFFE;
$color-fg: #000000;
$color-card: #CCCCCC;
$color-accent: #FF004C;

// typography
$font-title: "Karla", "Arial", sans-serif;
$font-body: "Yantramanav", "Arial", sans-serif;

// layout
$page-margin-horz: 1.5rem;
