// colours
$color-blue: #08415C;
$color-lightblue: #2B9EB3;
$color-yellow: #FCAB10;
$color-red: #F8333C;
$color-mint: #56c47b;

$color-bg: #fffffe;
$color-fg: #000000;
$color-card: #ececec;
$color-accent: $color-lightblue;

// typography
$font-title: "Apercu", "Roboto", "Arial", sans-serif;
$font-body: "Apercu", "Signika", "Arial", sans-serif;
$font-code: "Fira Mono", monospace;

// layout
$page-max-width: 1000px;
$page-margin-horz: 1rem;
// width at which nav switches to bottom nav instead of top nav.
$navigation-switch-width: 600px;
$bottom-nav-height: 4rem;
$top-nav-height: 5rem;

$border-radius: 0.3rem;

$input-radius: 1.5rem;
