// colours
$color-bg: #fffffe;
$color-fg: #000000;
$color-card: #ececec;
$color-accent: #ff004c;

// typography
$font-title: "Karla", "Arial", sans-serif;
$font-body: "Yantramanav", "Arial", sans-serif;
$font-code: "Fira Mono", monospace;

// layout
$page-max-width: 1000px;
$page-margin-horz: 1.5rem;
// width at which nav switches to bottom nav instead of top nav.
$navigation-switch-width: 600px;
$bottom-nav-height: 4rem;
