<nav>
  <div>
    <img alt="" src="/assets/hatch_logo.png" />
    <%= link_to "Home", root_path %>
    <%= link_to "Sign In", new_user_session_path %>
    <%= link_to "Forgot Password", new_user_password_path %>
  </div>
</nav>
