.timeline-item {
  $border-width: 0.1rem;
  border: $border-width $color-card solid;
  margin-left: 2rem;
  padding: 0.5rem;
  position: relative;
  z-index: 0;
  box-shadow: 0 3px 5px $color-card;
  margin-top: 1rem;
  border-radius: $border-radius;

  &:first-child {
    margin-top: 0;
  }

  // dotted line
  &::before {
    display: block;
    width: 2rem;
    position: absolute;
    z-index: -1;
    right: 100%;
    content: "";
    height: 0;
    border: 0.1rem $color-fg dotted;
    top: 1.5rem;
  }

  // circle
  &::after {
    $size: 1.5rem;
    display: block;
    width: $size;
    height: $size;
    position: absolute;
    content: "";
    z-index: 1;
    left: (-2rem - ($size / 2) - $line-thickness - $border-width);
    background-color: $color-fg;
    border-radius: 50%;
    top: 1.5rem - ($size / 2) + $border-width;
    pointer-events: none;
  }

  .timeline-item-header {
    display: flex;
    flex-direction: column;
    align-items: left;

    @include respond-to(600px) {
      flex-direction: row;
      align-items: center;
    }

    h1 {
      margin: 0rem 0;
      font-size: 1.5rem;
      flex: 1;
    }

    h2 {
      margin: 0rem 0;
      font-size: 1.2rem;
      color: lighten($color-fg, 10);
      font-style: italic;
    }
  }
}
