redis: &redis
  adapter: redis
  url: <%= ENV.fetch('REDIS_URL', 'redis://localhost:6379') %>

development: *redis

test:
  adapter: async

production:
  <<: *redis
  channel_prefix: hatch-site_production
