button, input[type="submit"], .button {
  border: none;
  font-weight: 600;
  background-color: $color-accent;
  color: $color-bg;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  padding: 0.75rem;
  border-radius: 0.3rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;

  &:hover {
    background-color: lighten($color-accent, 20);
    cursor: pointer;
  }

  &:active {
    background-color: darken($color-accent, 20);
  }

  &:disabled, &.disabled {
    background-color: grayscale($color-accent);
    color: $color-card;
    cursor: not-allowed;
  }
}
