button, .button {
  border: none;
  font-weight: 600;
  background-color: $color-accent;
  color: $color-bg;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  padding: 0.75rem;
  border-radius: 0.3rem;

  &:hover {
    background-color: lighten($color-accent, 20);
    cursor: pointer;
  }

  &:active {
    background-color: darken($color-accent, 20);
  }
}
