$button-break: 550px;

button,
input[type="submit"],
.button {
  border: none;
  font-weight: 600;
  background-color: $color-accent;
  color: $color-bg;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  padding: 0.75rem;
  font-family: $font-body;
  border-radius: 0.3rem;
  text-decoration: none;
  text-align: center;
  display: inline-flex;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;

  svg {
    margin-left: 0.5rem;
  }

  &.no-expand {
    width: auto;
    min-width: 0;
  }

  &.square {
    width: 3rem;
    min-width: 3rem;
    margin: 0 0.1rem;

    svg {
      margin-left: 0;
    }
  }

  td & {
    margin-right: 0.3rem;
  }

  .button-group & {
    margin-top: 0.25rem;
    margin-right: 0;
    @include respond-to($button-break) {
      margin-top: 0;
      margin-right: 0.3rem;
      &:last-child {
        margin-right: 0;
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &:hover {
    background-color: lighten($color-accent, 20);
    cursor: pointer;
  }

  &:active {
    background-color: darken($color-accent, 20);
  }

  &:disabled,
  &.disabled {
    background-color: grayscale($color-accent);
    color: $color-card;
    cursor: not-allowed;
  }

  @include respond-to($button-break) {
    width: auto;
    min-width: 5rem;
    margin-top: 0;
  }
}

.button-group {
  margin-top: 0.5rem;
}
