button,
input[type="submit"],
.button {
  border: none;
  font-weight: 600;
  background-color: $color-accent;
  color: $color-bg;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  padding: 0.75rem;
  font-family: $font-body;
  border-radius: 0.3rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;

  &.square {
    width: 3rem;
    min-width: 3rem;
    margin: 0 0.1rem;
  }

  td & {
    margin-right: 0.3rem;
  }

  .button-group & {
    margin-right: 0.3rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &:hover {
    background-color: lighten($color-accent, 20);
    cursor: pointer;
  }

  &:active {
    background-color: darken($color-accent, 20);
  }

  &:disabled,
  &.disabled {
    background-color: grayscale($color-accent);
    color: $color-card;
    cursor: not-allowed;
  }

  @include respond-to(550px) {
    width: auto;
    min-width: 5rem;
    margin-top: 0;
  }
}
