.flash {
  position: relative;
  left: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 1.25rem;
  border-width: 0.1rem;
  border-style: solid;
  font-style: italic;
}

.notice {
  @extend .flash;
  $color: #67b9f5;
  background-color: $color;
  color: darken($color, 40);
  border-color: darken($color, 40);
}

.alert {
  @extend .flash;
  $color: #c65f5f;
  background-color: $color;
  color: darken($color, 40);
  border-color: darken($color, 40);
}

.success {
  @extend .flash;
  $color: #7cf299;
  background-color: $color;
  color: darken($color, 40);
  border-color: darken($color, 40);
}
