$edited-fg: #8f791d;
$edited-bg: lighten($edited-fg, 50);

label {
  display: block;
  font-weight: bold;
  margin-top: 0.5rem;
}

.input-addon {
  padding-right: 0.1rem;
  background-color: darken($color-card, 10);
  font-size: 1.3rem;
  padding: 0.25rem 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 0.25s ease-in-out;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea {
  font-family: $font-body;
  font-size: 1.3rem;
  transition: all 0.25s ease-in-out;
  border: $color-fg solid 1px;
  outline: none;
  padding: 0.25rem;
  position: relative;
  display: inline;
  flex-grow: 1;
  background-color: transparent;

  .input-group & {
    border: none;
  }

  &::selection {
    background-color: $color-accent;
    color: $color-bg;
  }

  &:focus {
    background-color: rgba($color-fg, 0.1);
  }
}

textarea {
  width: 100%;
  min-height: 5rem;
  border: $color-fg solid 1px;

  &.edited {
    border-color: $edited-fg;
    background-color: $edited-bg;

    &:focus {
      background-color: desaturate(darken($edited-bg, 10), 30);
    }
  }
}

.input-group {
  border: $color-fg solid 1px;
  display: flex;
  flex-direction: row;

  @include respond-to(900px) {
    width: 50%;
  }

  &.edited {
    border-color: $edited-fg;
    background-color: $edited-bg;

    .input-addon {
      background-color: $edited-fg;
      color: $color-bg;
    }
  }

  &.invalid {
    border-color: $color-red;
    background-color: lighten($color-red, 30);

    .input-addon {
      background-color: $color-red;
      color: $color-bg;
    }
  }
}
