.image {
  height: 5rem;
  width: 5rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 0.1rem solid $color-fg;

  &.round {
    border-radius: 50%;
    background-size: cover;
  }

  &.large {
    width: 10rem;
    height: 10rem;
  }

  &.blur {
    position: relative;
    z-index: 0;
    overflow: hidden;
    &::before {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      display: block;
      content: "";
      border-radius: inherit;
    }
    &::before {
      filter: blur(10px) brightness(0.7);
      transform: scale(1.3);
      z-index: 1;
      background: inherit;
      overflow: hidden;
      transition: opacity 0.25s ease-in-out;
      opacity: 1;
    }
    & > * {
      z-index: 4;
    }
  }

  &.unblur {
    &::before {
      opacity: 0;
    }
  }
}
