nav {
  background-color: $color-fg;
  position: fixed;
  bottom: 0;
  height: $bottom-nav-height;
  width: 100%;
  padding: 0;
  flex-direction: row;
  z-index: 5;

  img {
    display: none;
  }

  div {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: none;
    align-items: stretch;
    display: flex;
    flex-direction: row;
  }

  a {
    font-family: $font-title;
    text-decoration: none;
    // text-transform: lowercase;
    font-size: 0.8rem;
    color: $color-bg;
    max-width: none;
    font-weight: 500;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    transition: all 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
    position: relative;

    .notification-count {
      background: $color-accent;
      color: $color-bg;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: $border-radius;
      position: absolute;
      right: 0.1rem;
      top: 0.1rem;
      text-align: center;
      vertical-align: middle;
      line-height: 1.5rem;

      @include respond-to(600px) {
        top: -1.2rem;
        right: -0.5rem;
      }
    }

    svg {
      margin: 0 auto;
      margin-bottom: 0.2rem;
    }

    &:hover,
    &.active {
      color: $color-fg;
      text-decoration: none;
      background-color: $color-accent;

      .notification-count {
        background: $color-fg;
        @include respond-to(600px) {
          background: $color-accent;
        }
      }
    }
  }

  @include respond-to($navigation-switch-width) {
    height: $top-nav-height;
    position: inherit;

    div {
      max-width: $page-max-width;
      align-items: center;
    }

    img {
      display: inline;
      height: 3.5rem;
      margin-right: $page-margin-horz;
    }

    a {
      margin: 0 1rem;
      max-width: 7rem;
      word-spacing: 5rem;
      text-align: center;
      font-size: 1.25rem;
      flex-basis: auto;
      flex-grow: 0;

      svg {
        display: none;
      }

      &.active {
        color: $color-accent;
        background-color: transparent;
        text-decoration: underline;
      }

      &:hover {
        text-decoration: underline;
        background-color: inherit;
        color: $color-accent;
      }
    }
  }
}
