nav {
  background-color: $color-fg;
  height: 5rem;
  padding: 0 1.5rem;
  display: none;

  @include respond-to($navigation-switch-width) {
    display: block;
  }

  div {
    max-width: $page-max-width;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
  }

  img {
    height: 3.5rem;
    margin-right: $page-margin-horz;
  }

  a {
    font-family: $font-title;
    font-size: 1.25rem;
    color: $color-bg;
    margin: 0 0.5rem;
    text-decoration: none;
    text-transform: lowercase;
    max-width: 5rem;
    word-spacing: 5rem;
    text-align: center;

    &.active {
      color: $color-accent;
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &.nav-bottom {
    position: fixed;
    bottom: 0;
    height: $bottom-nav-height;
    width: 100%;
    padding: 0;
    flex-direction: row;
    display: block;

    @include respond-to($navigation-switch-width) {
      display: none;
    }

    img {
      display: none;
    }

    div {
      width: 100%;
      max-width: none;
      align-items: stretch;
    }

    a {
      max-width: none;
      flex-grow: 1;
      text-align: center;
      transition: all 0.25s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;

      &:hover, &.active {
        color: $color-bg;
        text-decoration: none;
        background-color: $color-accent;
      }
    }
  }
}
