.notification-container {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  height: calc(100% - 2rem);
  width: 20rem;
  display: flex;
  flex-direction: column-reverse;
  z-index: 5;
  visibility: hidden;

  .notification {
    background: $color-card;
    padding: 0.5rem;
    border-radius: $border-radius;
    min-height: 4rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: flex-start;
    box-shadow: 0 1px 3px 0 $color-fg;

    .notification-content {
      align-self: stretch;
      flex: 1;
      p {
        margin: 0.25rem;
      }
    }

    .notification-buttons {
      display: flex;
      flex-direction: column;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: darken($color-card, 30);
      }

      button,
      .button,
      .icon {
        width: 2rem;
        height: 2rem;
        min-width: 0;
        margin-left: 0.25rem;
        padding: 0;
        margin-top: 0.25rem;

        &:first-of-type {
          margin-top: 0;
        }

        svg {
          margin: 0;
        }
      }
    }
  }

  @include respond-to(600px) {
    visibility: visible;
  }
}
