.profile-header {
  width: calc(100% - 1rem);
  display: flex;
  flex-direction: row;
  height: 10rem;
  background-color: $color-card;
  padding: 1rem 0.5rem;

  h1 {
    margin: 0;
  }

  p {
    font-size: 1.25rem;
    margin: 0.1rem 0;
  }

  .profile-image-container {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .profile-image {
      border: 2px solid $color-fg;
      border-radius: 100%;
      height: 5rem;
      width: 5rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 0.5rem;
    }
  }

  .profile-header-container {
    display: flex;
    flex-direction: column;
    flex: 3 3 0px;
    justify-content: center;

    h1 {
      margin-top: 1rem;
    }
  }

  .header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;

    button,
    .button {
      min-width: 40%;
      width: auto !important;

      @include respond-to(800px) {
        min-width: 15rem;
      }
    }
  }
}

.profile-main {
  // just make it one column if mobile
  @extend .splitview-main;
  flex-direction: column-reverse;

  aside.profile-sidebar {
    @extend .splitview-nav;

    .contact-info-item {
      h3 {
        font-family: $font-body;
        margin: 0.2rem 0;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }

  .profile-body {
    @extend .splitview-pane;
  }

  h2:not(.not-fancy) {
    @extend .fancy-title;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
}
