.table-wrapper {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
table {
  width: 100%;
  thead {
    background-color: $color-fg;
    color: $color-bg;

    td {
      font-weight: bold;
      padding: 0.25rem;
      &:first-of-type {
        border-radius: $border-radius 0 0 0;
      }
      &:last-of-type {
        border-radius: 0 $border-radius 0 0;
      }
    }
  }

  tbody {
    tr:nth-of-type(2n) {
      background-color: $color-card;
    }

    tr:nth-of-type(2n + 1) {
      background-color: $color-bg;
    }
  }
}
