.timeline {
  $line-thickness: 0.5rem;
  width: 100%;
  padding: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 10rem;
  overflow: hidden;
  box-sizing: border-box;

  .timeline-side {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;

    @import "timeline/timeline-add-button";

    .timeline-line {
      $thickness: $line-thickness;
      width: 0;
      height: calc(100% - (2*$thickness));
      border-radius: $thickness;
      border: $thickness $color-accent solid;
    }
  }

  .timeline-content {
    flex-basis: 5;
    flex: 5;

    & > * {
      margin-left: 2rem;
    }

    @import "timeline/timeline-item";
    @import "timeline/timeline-group";
    @import "timeline/timeline-header";
  }
}
