.feed-card {
  background-color: $color-card;
  padding: 1rem 1rem;
  border-radius: $border-radius;

  margin-top: 3rem;

  &:nth-of-type(1) {
    margin-top: 0;
  }

  h2 {
    @extend .fancy-title;
  }

  h3 {
    text-transform: none;
    font-family: $font-body;
    font-size: 1.5rem;
  }

  h3 {
    margin: 0;
  }

  p {
    margin: 0.2rem 0;
  }

  &.flex-card .card-body {
    display: flex;
    flex-direction: column;

    @include respond-to($page-max-width) {
      flex-direction: row;
    }

    section.card-section {
      // first card section has no top margin
      &:nth-of-type(1) {
        margin-top: 0;
      }
      margin-top: 1rem;
      flex: 1 0;

      @include respond-to($page-max-width) {
        margin-top: 0;
        flex-grow: 1;
      }
    }
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-size: 1.2rem;

    p {
      text-align: center;
    }

    progress {
      flex-grow: 1;
      margin: 0 2%;
    }
  }

  .leaflet-container {
    overflow: hidden;
    min-height: 8rem;
    height: 100%;
    width: 100%;
    border-radius: $border-radius;
    z-index: 0;
  }
}
