.feed-card {
  background-color: $color-card;
  padding: 0.5rem 1rem;

  margin-top: 3rem;

  &:nth-of-type(1) {
    margin-top: 0;
  }

  h2 {
    color: $color-accent;
    position: relative;
    margin: 0 0 1.25rem 0;
    font-size: 1.75rem;

    &:after {
      position: absolute;
      content: "";
      top: 125%;
      left: 0;
      width: 2rem;
      height: 0.4rem;
      background-color: $color-accent;
    }
  }

  h3 {
    text-transform: none;
    font-family: $font-body;
    font-size: 1.5rem;
  }

  h3,p {
    margin: 0;
  }

  &.flex-card .card-body {
    display: flex;
    flex-direction: column;

    section.card-section {
      // first card section has no top margin
      &:nth-of-type(1) {
        margin-top: 0;
      }
      margin-top: 1rem;
    }
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    p {
      text-align: center;
    }

    progress {
      flex-grow: 1;
      margin: 0 5%;
    }
  }
}
