.feed-card {
  background-color: $color-card;
  padding: 1rem 1rem;

  margin-top: 3rem;

  &:nth-of-type(1) {
    margin-top: 0;
  }

  h2 {
    @extend .fancy-title;
  }

  h3 {
    text-transform: none;
    font-family: $font-body;
    font-size: 1.5rem;
  }

  h3,p {
    margin: 0;
  }

  &.flex-card .card-body {
    display: flex;
    flex-direction: column;

    @include respond-to($page-max-width) {
      flex-direction: row;
    }

    section.card-section {
      // first card section has no top margin
      &:nth-of-type(1) {
        margin-top: 0;
      }
      margin-top: 1rem;

      @include respond-to($page-max-width) {
        margin-top: 0;
        flex-grow: 1;
      }

    }
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-size: 1.2rem;

    p {
      text-align: center;
    }

    progress {
      flex-grow: 1;
      margin: 0 2%;
    }
  }
}
